{{#content}}
  {{#main}}    
    <a id="main-content"></a>
    <div class="view-content">
      <h1 class="title" id="page-title">{{title}}</h1>
      <p>{{description}}</p>
      <h2>Interviews:</h2>
      <div class="field-items">
        {{#interviews}}    
          <div class="field-item">
            <h3>{{title}}</h3>
            <iframe style="width: 85%; height: 40px; border: 0;" src="http://sites.dlib.nyu.edu/media/playlists/zs7h4bv4/mode/embed"></iframe>
            <ul>
              <li>Date</li>
              <li>Citation URL</li>
              <li>Transcript</li>
            </ul>
          </div>
        {{/interviews}}
      </div>
    </div>
  {{/main}}
{{/content}}