<div class="section">
  <div id="footer" class="clearfix">
    <div class="region region-footer">
      <p>A project of the <a href="http://www.nyu.edu/library/bobst/research/fales/">Fales Library</a>. Powered by NYU <a href="http://dlib.nyu.edu/dlts/"> DLTS</a>.</p>
    </div>
  </div>
</div>
