
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}

.field-item.interview {
  h3 {
    font-weight: bold;
  }
  iframe {
    width: 85%;
    border: 0;
    height: 70px;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
    li {
     list-style-type: none; 
    }
  }
}